{% extends './base.html' %}
{% load static %}

{%block content %}
    <div class="p-5">
        <h1 class="mb-5">Tasks</h1>
        <div class="d-flex flex-wrap gap-5 justify-content-between">
                {% for blog in blogs %}
                    {% include './components/card.html' %}
                {%endfor%}
        </div>
        <div class="d-flex justify-content-center align-items-center my-5">
            <img src="{% static 'img/img4.png'%}" alt="" style="width:500px;transform:rotate(45deg)"/>
        </div>
    </div>
{%endblock content%}