{% extends './base.html' %}
{%block content %}
    <div class="p-5" style="width:90%;margin-left:auto;margin-right:auto;">
        <h1 class="mb-5">Tasks</h1>
        {% for blog in blogs %}
        <div>
            <a class="w-100 mb-5 card text-decoration-none" style="width: 18rem;" href="{% url 'blog_by_id' blog.id %}">
                <div class="card-body">
                  <h5 class="card-title">{{blog.title}}</h5>
                  <p class="card-text">{{blog.description | truncatechars:100}}</p>
                  <small>created {{blog.created_at}}</small>
                </div>
            </a>
        </div>
            
        {%endfor%}
    </div>
{%endblock content%}