{% extends './base.html' %}
{%block content %}
    <div  style="width:90%;margin-left:auto;margin-right:auto;background-color:rgb(40, 167, 69);">
        <h1>Hello desde el home</h1>
        {% for blog in blogs %}
            <a style="cursor:pointer;text-decoration:none;color:black;" href="{% url 'blog_by_id' blog.id %}">
                <h2>{{blog.title}}</h2>
                <p>{{blog.description | truncatechars:100}}</p>
                <small>created {{blog.created_at}}</small>
            </a>
            <br>
            <hr>
        {%endfor%}
    </div>
{%endblock content%}