{% load static %}

    <a href="{% url 'blog_by_id' blog.id %}" class="d-block text-decoration-none w-25 text-white" style="">
        <div class="bg-primary mt-5 text-white p-5 border rounded-2" style="height:420px;opacity:90%">
            <h2 class="fs-2 font-bold text-gray-500">{{blog.title}}</h2>
            <img src="{% static 'img/img2.png'%}" alt=""  style="width:76%"/>
            <p class="text-gray-600">
                {{blog.description | truncatechars:100}}
            </p>
            <small class="">Posted by : cristian - </small>
            <small class="">{{blog.created_at}}</small>
                
        </div>
    </a>
    {% comment %} <div class="d-flex">
        <a href="/">
            <i class="fa-regular fa-pen-to-square"></i>
        </a>
        <a href="/">
            <i class="fa-solid fa-trash"></i>
        </a>
    </div>   {% endcomment %}
