<header class="w-100 bg-primary text-white sticky-top" style="height:80px"> 
    <div class="h-100 container d-flex justify-content-between align-items-center">
      <a href="/" class="fs-5 text-decoration-none text-white font-bold">
        WRITE
      </a>
      <div class="d-flex text-white">
        <a class="text-decoration-none text-white me-4" href="/write">
          <p class="fs-5">Write</p>
        </a>
        <a class="text-decoration-none text-white me-4" href="/dashboard">
          <p class="fs-5">Dashboard</p>
        </a>
        <a class="text-decoration-none text-white" href="/signin">
          <p class="fs-5">Sign in</p>
        </a>
      </div>
    </div>
</header>